.titulo {
    text-align: center;
}

.contenedor-productos {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 2rem;
    margin-inline: 10%;


    .producto-imagen {
        max-width: 100%;
    }

    h2 {
        padding-top: 0.6rem;
        color: #777a7a;
        font-size: 1.1rem;

    }

    h3 {
        padding-top: 0.6rem;
        padding-bottom: 1rem;
        font-weight: 300;
        font-size: 1.1rem;

    }

    .producto-agregar {
        width: 6rem;
        background-color: white;
        color: black;
        padding: 0.4rem;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid gray;
        transition: backgroun-color 0.2s, color 0.2s;


    }

    .producto-agregar:hover {
        background-color: gray;
        color: white;

    }
}

 

 
