.header {

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-inline: 10%;


    .logo {

        padding-right: 2rem;
        padding-top: 2.0rem;
        width: 18%;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .nav {

        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;

        ul {
            list-style-type: none;
            display: inline-block;

            li {
                display: inline;
                margin: 0 10px;

                .boton-menu {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    gap: 1rem;
                    font-weight: 600;
                    padding: 1rem;
                    font-size: .85rem;

                }

                .boton-menu.active {
                    background-color: black;
                    color: white;


                }

            }
        }

    }

    .login_buy {

        display: flex;
        align-items: center;
        padding-right: 2rem;
        padding-left: 2rem;
        width: 22%;
        position: absotule;   
        position: relative;
        display: inline-block;   
        
        .cart-container {
            display: flex;
            align-items: flex-start; /* Alinea elementos verticalmente en la parte superior */

            #carrito-icon {
                margin-top: 2.5rem; /* Ajusta la posición vertical del ícono */
                width: 3rem;
            }

            .numerito {
                position: absolute;
                top: 45px;
                margin-left: 5px; /* Ajusta el espacio entre el ícono y el número */
                right: 125px;
                background-color: red;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
            }

            
        }

        

    


      

      
       

       





    }

    
    
    
    
   
    



    
    

    
    

 



}